<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">

    <persistence-unit name="persistenceUnit">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <class>dev.models.InsuranceCompanyInfo</class>
        <class>dev.models.InsuranceInfo</class>
        <class>dev.models.Migrations</class>
        <class>dev.models.TaxiAdmin</class>
        <class>dev.models.TaxiAdminPermission</class>
        <class>dev.models.TaxiAdminmenu</class>
        <class>dev.models.TaxiBase</class>
        <class>dev.models.TaxiBaseType</class>
        <class>dev.models.TaxiBlackList</class>
        <class>dev.models.TaxiBooking</class>
        <class>dev.models.TaxiCity</class>
        <class>dev.models.TaxiCompany</class>
        <class>dev.models.TaxiContent</class>
        <class>dev.models.TaxiCountryList</class>
        <class>dev.models.TaxiDriver</class>
        <class>dev.models.TaxiDriverFilter</class>
        <class>dev.models.TaxiDriverRating</class>
        <class>dev.models.TaxiDutyStatus</class>
        <class>dev.models.TaxiEmployee</class>
        <class>dev.models.TaxiEmployeeTracking</class>
        <class>dev.models.TaxiFareCalType</class>
        <class>dev.models.TaxiFavoriteList</class>
        <class>dev.models.TaxiFeedback</class>
        <class>dev.models.TaxiInsuranceRatebook</class>
        <class>dev.models.TaxiLanguage</class>
        <class>dev.models.TaxiLanguageList</class>
        <class>dev.models.TaxiLocationUpdate</class>
        <class>dev.models.TaxiNotification</class>
        <class>dev.models.TaxiNotificationUnread</class>
        <class>dev.models.TaxiOptions</class>
        <class>dev.models.TaxiPayment</class>
        <class>dev.models.TaxiPickup</class>
        <class>dev.models.TaxiPreScheduleHistory</class>
        <class>dev.models.TaxiPromo</class>
        <class>dev.models.TaxiPromoDetail</class>
        <class>dev.models.TaxiRatebook</class>
        <class>dev.models.TaxiRefund</class>
        <class>dev.models.TaxiSms</class>
        <class>dev.models.TaxiToll</class>
        <class>dev.models.TaxiTollDetail</class>
        <class>dev.models.TaxiTransaction</class>
        <class>dev.models.TaxiTrip</class>
        <class>dev.models.TaxiTripDetail</class>
        <class>dev.models.TaxiTripHistory</class>
        <class>dev.models.TaxiTripStatus</class>
        <class>dev.models.TaxiTripToll</class>
        <class>dev.models.TaxiUserCard</class>
        <class>dev.models.TaxiUserDriver</class>
        <class>dev.models.TaxiUserfavoriteDriver</class>
        <class>dev.models.TaxiUserfavoritePlace</class>
        <class>dev.models.TaxiUsers</class>
        <class>dev.models.TaxiVehicle</class>
        <class>dev.models.TaxiVehicleBrand</class>
        <class>dev.models.TaxiVehicleType</class>
        <class>dev.models.TaxiVehicleTypeBak</class>
        <class>dev.models.TaxiZipcode</class>
        <class>dev.models.TaxiZipcodeZone</class>
        <class>dev.models.TaxiZonePriceMatrix</class>
        <class>dev.models.TaxiPreScheduleGroup</class>
        <class>dev.models.TaxiTripPool</class>
        <!--<class>dev.models.ApplicationTblModel</class>-->
        <!--<class>dev.models.CompanyTbl</class>-->
        <!--<class>dev.models.EmployeeWorksheet</class>-->
        <!--<class>dev.models.TaxiBookingTrip</class>-->
        <!--<class>dev.models.TaxiLiveTripGroupType</class>-->
        <!--<class>dev.models.TaxiPostalCodes</class>-->
        <!--<class>dev.models.TaxiTripComment</class>-->
        <!--<class>dev.models.TaxiTripCommentType</class>-->
        <!--<class>dev.models.UserInfoTbl</class>-->
        <!--<class>dev.models.UserLoginTbl</class>-->

        <properties>
            <property name="hibernate.connection.url"
                      value="jdbc:mysql://localhost:3306/ecarride_db_foreign_key"/>
            <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
            <property name="hibernate.connection.username" value="root"/>
            <property name="hibernate.connection.password" value="root"/>
        </properties>
    </persistence-unit>
</persistence>
